%% for k, v in config.items()
\newcommand{\\VAR{k | camelcase}}{\VAR{v}}
%% endfor

\documentclass[\PresentationSize\BLOCK{if handout},handout\BLOCK{endif}]{formation}

\setbeamertemplate{frame footer}{\CompanyName{} --- \DeckTitle}

\author{\vfill\TrainerName}
\institute{%
  \vfill%
  \includegraphics[height=\CompanyLogoHeight]{\CompanyLogo}%
  \newline%
  \url{\CompanyWebsite}%
}
\date{\vfill\SessionStart--\SessionEnd}

\title{\DeckTitle}
\subtitle{\VAR{target.title}}

\begin{document}

\maketitle

%% if "programme" not in config or config["programme"]:
\begin{frame}{Programme}
\tableofcontents[subsectionstyle=hide]
\end{frame}
%% endif

%% for section in target.sections:
\section{\VAR{section.title}}
%% for include in section.includes:
\input{\VAR{[target.name, include] | path_join}}
%% endfor
%% endfor

\end{document}

